/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* @import "compass/reset"; */
@import "compass/css3/text-shadow";
@import "compass/typography";

body {
  background: url("../images/dark-pattern.jpg") repeat scroll left top rgba(0, 0, 0, 0);
  color: #999;
  //@include text-shadow(0 1px 0 #333);
}
.site-header {
  background: url("../images/body-pattern.jpg") repeat scroll left top rgba(0, 0, 0, 0);
}
.main {
  background: url("../images/body-pattern.jpg") repeat scroll left top rgba(0, 0, 0, 0);
  p {
    font-family: 'Time New Roman', Georgia, serif;
    color: #666;
    font-style:italic;
    @include text-shadow(0 1px 0 #fff);
  }
}
.site-footer {
  background: url("../images/dark-pattern.jpg") repeat scroll left top rgba(0, 0, 0, 0);
  footer {
    .vcard {
      @include rhythm(0,1,1,0);
      color: #ccc;
      .fn a.url {
        color: #ccc;
      }
    }
  }
}
