/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset"; */
/* line 10, ../sass/screen.scss */
body {
  background: url("../images/dark-pattern.jpg") repeat scroll left top transparent;
  color: #999;
}

/* line 15, ../sass/screen.scss */
.site-header {
  background: url("../images/body-pattern.jpg") repeat scroll left top transparent;
}

/* line 18, ../sass/screen.scss */
.main {
  background: url("../images/body-pattern.jpg") repeat scroll left top transparent;
}
/* line 20, ../sass/screen.scss */
.main p {
  font-family: 'Time New Roman', Georgia, serif;
  color: #666;
  font-style: italic;
  text-shadow: 0 1px 0 #fff;
}

/* line 27, ../sass/screen.scss */
.site-footer {
  background: url("../images/dark-pattern.jpg") repeat scroll left top transparent;
}
/* line 30, ../sass/screen.scss */
.site-footer footer .vcard {
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0em;
  color: #ccc;
}
/* line 33, ../sass/screen.scss */
.site-footer footer .vcard .fn a.url {
  color: #ccc;
}
